<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input formControlName="name" type="text" id="name" />
  </div>

  <div>
    <label for="email">Email</label>
    <input formControlName="email" type="text" id="email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" />
  </div>

  <button type="submit" [disabled]="form.invalid">Register</button>
  <a style="margin: 0 10px" routerLink="/login">To login</a>
</form>
