<div *ngIf="!loading; else loader">
  <h1 *ngIf="!posts.length" style="text-align: center">No posts yet</h1>
  <h1 *ngIf="posts.length" style="text-align: center">Posts</h1>

  <div class="posts" style="text-align: center; margin-top: 30px">
    <div class="post" style="margin-bottom: 20px" *ngFor="let post of posts">
      <div class="title">
        <span
          style="
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            color: blue;
          "
          [routerLink]="['/post', post.id]"
          >{{ post.title }}</span
        >
        <span style="font-style: italic">{{ post.date_created | date }}</span>
      </div>
      <div class="body">{{ post.body }}</div>
    </div>
  </div>
</div>
<ng-template #loader>Loading...</ng-template>
