<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label>
    <input formControlName="title" type="text" id="title" />
  </div>

  <div>
    <label for="body">Body</label>
    <textarea formControlName="body" id="body"></textarea>
  </div>

  <button type="submit" [disabled]="form.invalid">Create</button>
</form>
