<div *ngIf="!loadingPost; else loader1">
  <div *ngIf="post">
    <h1>{{ post.title }}</h1>
    <div style="margin-bottom: 10px; font-style: italic">
      Created: {{ post.date_created | date }}
    </div>
    <div>
      {{ post.body }}
    </div>
  </div>
</div>
<ng-template #loader1>
  <div>Loading posts...</div>
</ng-template>

<app-comments
  [loading]="loadingComments"
  [comments]="comments"
  (onAddComment)="addComment($event)"
></app-comments>
