<div *ngIf="!loading; else loader">
  <h1 *ngIf="posts.length" style="text-align: center">Your posts</h1>
  <h1 *ngIf="!posts.length" style="text-align: center">No posts yet</h1>

  <div class="posts" style="text-align: center; margin-top: 30px">
    <div class="post" style="margin-bottom: 20px" *ngFor="let post of posts">
      <div class="title">
        <span style="margin-right: 10px">{{ post.title }}</span>
        <span style="font-style: italic; margin-right: 10px">{{
          post.date_created | date
        }}</span>
        (<span
          style="cursor: pointer; color: orange"
          [routerLink]="['/edit', post.id]"
          >Edit</span
        >
        /
        <span style="cursor: pointer; color: red" (click)="onDelete(post.id)">
          Delete</span
        >)
      </div>
      <div class="body">{{ post.body }}</div>
    </div>
  </div>
</div>
<ng-template #loader>Loading...</ng-template>
