<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input formControlName="email" type="text" id="email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input formControlName="password" type="password" id="password" />
  </div>

  <button type="submit" [disabled]="form.invalid">Login</button>
  <a style="margin: 0 10px" routerLink="/register">To register</a>
</form>
