<div *ngIf="!loadingPost; else loader1">
  <div *ngIf="post">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title</label>
        <input formControlName="title" type="text" id="title" />
      </div>

      <div>
        <label for="body">Body</label>
        <textarea formControlName="body" id="body"></textarea>
      </div>

      <button type="submit" [disabled]="form.invalid">Update</button>
    </form>
  </div>
</div>
<ng-template #loader1>
  <div>Loading posts...</div>
</ng-template>

<app-comments
  [loading]="loadingComments"
  [comments]="comments"
  (onAddComment)="addComment($event)"
></app-comments>
