<div style="margin-top: 20px" *ngIf="!loading; else loader2">
  <h4 *ngIf="comments.length">Commets:</h4>
  <h4 *ngIf="!comments.length">No commets yet</h4>
  <!-- Add comment -->
  <input
    style="margin-right: 5px"
    type="text"
    placeholder="Your comment"
    [(ngModel)]="newComment"
  />
  <button (click)="AddComment()" [disabled]="!newComment">Add</button>
  <!-- View comment -->
  <ul>
    <li *ngFor="let c of comments">{{ c.comment }}</li>
  </ul>
</div>
<ng-template #loader2>
  <div>Loading comments...</div>
</ng-template>
