<div class="div">
  <a routerLink="/all">All posts</a>
  <a routerLink="/user-posts">User`s posts</a>
  <a routerLink="/create">Create post</a>
  <a (click)="logout()">Logout</a>
</div>
<router-outlet></router-outlet>
